# Local development flag
USE_LOCAL_API=true

# BigQuery Configuration
BQ_PROJECT_ID=your-secret-here
BQ_DATASET_ID=your-secret-here
GOOGLE_BIGQUERY_PAGE_SIZE="100"
GCP_SERVICE_ACCOUNT_CREDENTIALS=base-64-encoded-service-account-json

# RMI OAuth2 Configuration (Keycloak)
RMI_ISSUER=your-secret-here
RMI_AUDIENCE=your-secret-here
RMI_JWKS_URL=your-secret-here


# Cache Configuration
REDIS_URL=redis://:your-secret-here@your-redis-host:6379/0
CACHE_TTL_SECONDS="300"